.DS_Store
.vscode/
clean-architecture/tests/obj/
clean-architecture/.vs/
clean-architecture/src/core/application/bin/
clean-architecture/src/core/application/obj/
clean-architecture/src/core/domain/bin/
clean-architecture/src/core/domain/obj/
clean-architecture/src/infrastructure/bin/
clean-architecture/src/infrastructure/obj/
clean-architecture/src/presentation/tryout.api/bin/
clean-architecture/src/presentation/tryout.api/obj/
clean-architecture/tests/bin/
clean-architecture/tests/obj/
